<table style="border: 1px solid black;">
<tr>
    <th>Ник</th>
    <th>Email</th>
    <th>Статус</th>
    <th>Дата регистрации</th>
</tr>
{{#each users}}
<tr>
<td>
    {{username}}
</td>
<td>
    {{email}}
</td>
<td>
    {{status}}
</td>
<td>
    {{registered_on}}
</td>
</tr>
{{/each}}
</table>